---
import { Icon } from 'astro-icon/components';

/**
 * Uses https://astroicon.dev/getting-started/
 * Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
 * Only installed pack is: @iconify-json/mdi
 */
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	color: string;
}[] = [
	{
		friendlyName: 'Github',
		link: 'https://github.com/geauxweisbeck4/weisgarden',
		name: 'mdi:github',
		color: 'text-stone-900',
	},
	{
		friendlyName: 'Gitlab',
		link: 'https://gitlab.com/geauxweisbeck4',
		name: 'simple-icons:gitlab',
		color: 'text-orange-500',
	},
	{
		friendlyName: 'Mastodon',
		link: 'https://fosstodon.org/@GeauxWeisbeck4',
		name: 'mdi:mastodon',
		color: 'text-indigo-600',
	},
	{
		friendlyName: 'Bluesky',
		link: 'https://geauxweisbeck4.bsky.social',
		name: 'simple-icons:bluesky',
		color: 'text-sky-500',
	},
	{
		friendlyName: 'LinkedIn',
		link: 'https://linkedin.com/in/geauxweisbeck4',
		name: 'mdi:linkedin-box',
		color: 'text-blue-400',
	},
	{
		friendlyName: 'Threads',
		link: 'https://www.threads.com/@geauxweisbeck4',
		name: 'simple-icons:threads',
		color: 'text-slate-700',
	},

	{
		friendlyName: 'Twitter',
		link: 'https://twitter.com/geauxweisbeck4',
		name: 'simple-icons:twitter',
		color: 'text-sky-500',
	},
];
---

<div class="flex flex-wrap items-end gap-x-2 mt-6">
	<p class="text-2xl mt-6 font-bold">Follow Me On:</p>
	<ul class="flex flex-1 items-center pl-6 gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name, color }) => (
				<li class="flex">
					<a
						class={`hover:bg-green-100 hover:p-1 p-1 rounded-lg ${color} inline-block`}
						href={link}
						rel={`noreferrer ${isWebmention ? 'me authn' : ''}`}
						target="_blank"
					>
						<Icon
							aria-hidden="true"
							class={`h-8 w-8 text-${color} dark:text-white`}
							focusable="false"
							name={name}
						/>
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
	
</div>
